.checkin-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 10px auto;
  padding: 40px;
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  border-radius: 10px;
}

.checkin-details{
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: 'Jost', sans-serif;
}

.single-checkin {
  margin: 30px;
}

.checkin-button {
  margin: 10px;
}
