.add-wine-container {
  height: fit-content;
  width: 20rem;
  padding: 3rem;
  font-family: 'Jost', sans-serif;
  color: rgb(133, 19, 54);
}

.add-wine {
  display: flex;
  flex-direction: column;
}

.add-wine > button {
  margin: 1rem auto 0;
}

.add-wine > label {
  margin-bottom: -3px;
}

.add-wine > input {
  height: 30px;
  text-indent: 15px;
  border: 1px solid rgb(109, 109, 108);
  border-radius: 3px;
}

.add-wine > textarea {
  width: 265px;
  border-radius: 3px;
  margin: 10px;
}
