.single-wine-img {
  position: absolute;
  height: 100%;
  width: 500px;
  object-fit: cover;
  top: 65px;
}

.single-wine-detail {
  margin: auto 100px auto 550px;
}

.checkin-wrapper {
  background-color: white;
  margin: 20px 100px 20px 550px;
  padding: 20px;
  border-radius: 10px;
}

.checkin-wrapper > h3 {
  font-family: 'Jost', sans-serif;
  margin: 20px;
  font-size: 18px;
}

.checkin-header {
  margin-bottom: 10px;
  font-family: 'Jost', sans-serif;
  color: rgb(133, 19, 54);
  border-bottom: 1px solid rgba(109, 109, 108, 0.5);
  font-size: 20px;
}

.single-checkin {
  font-family: 'Jost', sans-serif;
  border-bottom: rgba(109, 109, 108, 0.5);
}

.checkin-form {
  font-family: 'Jost', sans-serif;
  color: rgb(133, 19, 54);
}

.checkin-button {
  margin: 50px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  font-family: 'Jost', sans-serif;
  margin: auto 100px auto 550px;
}

.checkin-modal-button, .edit-wine-button {
  margin: 1rem 2rem;
  height: 30px;
  font-family: inherit;
  font-size: 15px;
}
