.checkin {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid rgba(109, 109, 108, 0.5);
  height: 300px;
}

.checkin-info {
  padding: 30px;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
}

.checkin-img {
  max-height: 295px;
  margin: auto 0;
}

.checkin-link {
  color: rgb(133, 19, 54)
}

.comment-bubble {
  border: 1px solid rgba(109, 109, 108, 0.5);
  height: 100px;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
}
