body {
  background-image: url(https://images.unsplash.com/photo-1636116461481-4c3ec444c9f8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1166&q=80);
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 400px;
}

label, input {
  margin: 10px;
}

button {
  margin-right: 120px;
}
