.nav {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  background-color: rgb(233, 230, 224);
  height: 75px;
}

.link {
  margin: 15px;
  padding: 6px;
  text-decoration: none;
  border: 1px solid gray;
  border-radius: 10%;
}

.logo {
  height: 50px;
  width: 50px;
  opacity: 100%;
  float: left;
  margin: 10px 900px 0px 20px;
}
