.container {
  position: relative;
}

.nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  background-color: rgb(233, 230, 224);
  border-bottom: 1px solid rgba(109, 109, 108, 0.3);
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  height: 60px;
  align-items: center;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.link {
  margin: 15px;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgba(109, 109, 108, 1);
}

.logo {
  height: 50px;
  width: 50px;
  opacity: 100%;
  float: left;
  margin: 7px;
}

.banner {
  display: inline-block;
  margin-left: 15px;
  width: fit-content;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  color: rgb(133, 19, 54);
}

.banner-logo {
  display: flex;
  align-items: center;
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.login-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  right: 60px;
  top: 20px;
  z-index: 1;
}
